@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h3>
    An occured while processing your request.
    The support team is notified and we are working on the fix.
</h3>
<h5>Please contact us on kereuniffer@kereu.com</h5>
